
<div class="top-bar"></div>
<div class="top-banner"></div>
<div class="top-bar" style="height: 2px; margin-top: 68px;"></div>
<div class="content" data-ng-controller="homeController as homeCtrl" layout="column" flex>
	<section layout="row" flex>

		<md-sidenav class="md-sidenav md-locked-open md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex>
			<md-content layout-padding data-ng-controller="sidebarController as sidebarCtrl" flex>

				<!--<md-button ng-click="sidebarCtrl.close()" class="md-primary" hide-gt-md>-->
					<!--Close Sidenav Left-->
				<!--</md-button>-->

				<ul class="tags-area">
					<md-button ng-click="homeCtrl.showAll()" style="background:#f7f7f7 ; border:1px solid; width: 90% ;display:block">
						<strong>SHOW-ALL</strong>
					</md-button>
					<li class="tags-list" ng-repeat="tag in homeCtrl.tags">
						<md-button ng-click="homeCtrl.click(tag)" style="background:{{tag.color}} ; color:{{homeCtrl.setTextColor(tag.color)}}">
							<strong>{{tag.text}}</strong>
						</md-button>
					</li>
				</ul>

			</md-content>
		</md-sidenav>

		<md-content flex layout-padding>
				<md-list class="notes-list">
					<md-list-item ng-repeat="note in homeCtrl.notes |
						orderBy:homeCtrl.sortOrder |
						filter:homeCtrl.byTagsFilter">
						<section class="note-container	md-padding md-whiteframe-z1 md-default-theme" layout="column"
										 ng-mouseenter="homeCtrl.noteHover(note)" ng-mouseleave="homeCtrl.noteHover(note)">
							<div class="note-title" ng-click="homeCtrl.showNote($event, note)">
								<p>{{note.title |truncate:9}}</p>
							</div>
							<div class="note-content">
								<p>{{note.content | truncate:25}}</p>
							</div>
							<div class="note-footer">
								<div class="note-link">
									<a target="_blank" href={{note.url}}>{{note.domain}}</a>
								</div>
								<div class="note-hidden-buttons" layout="row" ng-show="note.showHidden">
									<p class="note-delete" ng-click="homeCtrl.showDeleteDialog($event, note)">delete</p>
									<p class="note-date">{{note.modified | date}}</p>
								</div>
							</div>
						</section>
					</md-list-item>
				</md-list>
				<div>
			</div>
		</md-content>

	</section>
</div>
