<!--<div ng-controller="homeController as homeCtrl">-->
  <md-dialog class="note-dialog" aria-label="Note dialog" flex="60"">
    <md-toolbar class="note-dialog-title-wrapper">
      <div class="md-toolbar-tools">
        <form class="note-dialog-form-title" name="noteTitleForm" flex>
          <md-input-container flex>
            <label></label>
            <input class="note-dialog-title" ng-model="note.title" columns="1" style="color: white"></input>
          </md-input-container>
        </form>
      </div>
    </md-toolbar>

    <md-dialog-content class="note-dialog-content-wrapper"  flex>
      <form name="noteContentForm">
        <md-input-container flex>
          <label></label>
          <textarea class="note-dialog-content" ng-model="note.content" columns="1"></textarea>
        </md-input-container>
      </form>
    </md-dialog-content>

    <div class="note-dialog-tags-wrapper">
      <md-chips
              md-autocomplete-snap
              ng-model="note.tags"
              md-on-append="newTagAppend($chip)">
        <md-autocomplete
                md-input-name="autocompleteField"
                md-selected-item="selectedItem"
                md-search-text="searchText"
                md-items="tag in querySearch(searchText)"
                md-item-text="tag.text"
                placeholder="+Tag"
                secondary-placeholder="+Tag">
          <md-item-template>
            <span md-highlight-text="searchText">{{tag.text}}</span>
          </md-item-template>
        </md-autocomplete>
        <md-chip-template>
          <span>{{$chip.text}}</span>
        </md-chip-template>
      </md-chips>
      <br/>
    </div>

    <div class="note-dialog-footer md-actions">
      <div class="footer-buttons-wrapper">
        <md-button ng-click="closeNote()" class="md-primary">
          Close
        </md-button>
        <md-button ng-click="updateNote()" class="md-primary">
          Update
        </md-button>
      </div>

    </div>
  </md-dialog>
<!--</div>-->
