<!--<div ng-controller="homeController as homeCtrl">-->
  <md-dialog class="note-dialog" aria-label="Note dialog" flex="60"">
    <md-toolbar class="note-dialog-title-wrapper">
      <div class="md-toolbar-tools">
        <form class="note-dialog-form-title" name="noteTitleForm" flex>
          <md-input-container flex>
            <label></label>
            <input class="note-dialog-title" ng-model="note.title" columns="1" style="color: white"></input>
          </md-input-container>
        </form>
      </div>
    </md-toolbar>

    <md-dialog-content class="note-dialog-content-wrapper"  flex>
      <form name="noteContentForm">
        <md-input-container flex>
          <label></label>
          <textarea class="note-dialog-content" ng-model="note.content" columns="1"></textarea>
        </md-input-container>
      </form>
    </md-dialog-content>

    <div class="note-dialog-tags-wrapper">
      <md-chips
              ng-model="note.tags"
              md-on-append="homeCtrl.newTagAppend($chip)"
              readonly="homeCtrl.readonly"
              placeholder="Enter a tag"
              delete-button-label="Remove Tag"
              delete-hint="Press delete to remove tag"
              secondary-placeholder="+Tag">
        <md-chip-template>
          <p>{{$chip.text}}</p>
        </md-chip-template>
      </md-chips>
      <br/>
    </div>

    <div class="note-dialog-footer md-actions">
      <div class="footer-buttons-wrapper">
        <md-button ng-click="closeNote()" class="md-primary">
          Close
        </md-button>
        <md-button ng-disabled="noteContentForm.$pristine && noteTitleForm.$pristine" ng-click="updateNote()" class="md-primary">
          Update
        </md-button>
      </div>

    </div>
  </md-dialog>
<!--</div>-->
