html, body {
  width: 300px;
  height: 100%;
  max-height: inherit;
  overflow: hidden;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

.top-bar {
  height: 6px !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(96,125,139);
  z-index: 2147483647;
}

/*----------- header --------------------- */
.cp-header-display {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  height: 50px;
  padding: 25px 20px 0 20px;
}

.close-button {
  /* the color of the arrow is #819ba7, downloaded from
  http://www.iconsdb.com/custom-color/arrow-25-icon.html */
  display: inline-block;
  position: absolute;
}

.cp-greeting {
  display: inline-block;
  position: absolute;
  right: 0;
  transition: color 0.2s ease;
}

.cp-greeting:hover {
  /*font-weight: 400;*/
  color: #428bca;
  /*border: 1px solid;*/
  /*border-color: #d4dce3;*/
  /*border-radius: 3px;*/
}

.new-note-button {
  display: inline-block;
}

.cp-settings-menu {
  position: fixed;
  right: 10px;
  top: 64px;
}

/*----------- footer --------------------- */

.cp-footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 300px;
  background-color: rgb(255,224,178)
}

.home-button {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: medium;
  vertical-align: middle;
}

/*----------- main page ----------------- */
.cp-add-new-wrapper {
  width: 100px;
  height: 100px;
  padding: 18px;
  margin: auto;
  margin-top: 30px;
}
.cp-add-new-plus {
  /* the color of the arrow is #d4dce3, downloaded from
  http://www.iconsdb.com/custom-color/plus-6-icon.html */
}

.cp-add-new-sm-wrapper {
  width: 300px;
  height: 36px;
  margin: 22px 2px 0 2px;
  padding: 0 16px 0 16px;
  text-align: left;
}

.cp-add-new-sm-plus {
  /* the color of the arrow is #d4dce3, downloaded from
  http://www.iconsdb.com/custom-color/plus-6-icon.html */
}

.cp-add-new-sm-text {
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: 500;
  color: #536a7f;
}

/*----------- sign in/up page ----------------- */

.cp-hello-bg {
  width: inherit;
  height: inherit;
  max-height: inherit;
  background-image: url(../img/intro-bg.jpg) ;
}
.cp-hello-content {
  position:absolute;
  width: inherit;
  height: inherit;
  left:0;
  top:0;
}
.cp-hello-content h1 {
  padding-left: 35px;
  color: whitesmoke;
  font-size: 44px;
}
.cp-hello-form-wrapper {
  background-color:rgba(0,0,0,0.2);
  margin-top: 50px;
  margin-left: 25px;
  width: 250px;
  height:320px;
  border-radius: 5px;
}
.cp-hello-form {
  margin: auto;
  padding-top: 15px;
  height: 250px;
  width: 220px;
  color: whitesmoke;
}
.cp-hello-footer {
  margin: auto;
  color: whitesmoke;
  padding: 15px 10px 10px 15px;
}
.cp-hello-footer a {
  color: #66B2FF;
}

/*----------- main content ----------------- */
.no-notes-block {
  color:rgba(0,0,0,0.6);
  padding: 40px;
}

.main-content {
  width: 300px;
  overflow: hidden;
}
.list-group {
  height: 90%;
}
md-content::-webkit-scrollbar {
  display: none;
}
.tabs-area {
  height: 100%;
  width: inherit;
}
.list-group md-list{
  padding-top: 12px;
}

/*----------- notes list ------------------- */

.notes-list {
  margin-bottom: 50px;
}

/*----------- note element ----------------- */

.note-container {
  height:105px;
  width:300px;
  border-radius: 0 20px 20px 0;
  margin-bottom: 12px;
  transition:0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position:relative;
  padding: 5px 19px 0 19px;
  overflow: hidden;
}
.note-container:focus, .note-container:hover {
  background-color: #f7f7f7;
  text-decoration: none;
  cursor: pointer;
}

.note-container:focus, .note-container:hover .note-title p{
  color: #428bca;
}
.note-content-wrapper{
  height: 80px;
}
.note-container .note-title p{
  font-size:14px;
  font-weight: bold;
  margin-bottom:3px;
  overflow: hidden;
  line-height: inherit;
  color: #787878;
  text-transform: capitalize;
}
.note-container .note-content {
  font-size: 14px;
  line-height: 1.42857143;
}
.note-container .note-content p{
  margin-bottom:3px;

}
.note-container .note-footer {
  margin-top:3px;
  overflow: hidden;
  vertical-align: middle;
  height: 20px;
}
.note-container .note-footer .note-link a{
  position:absolute;
  bottom: 5px;
  font-size: 12px;
  color: grey;
  float:left;
}
.note-container .note-footer .note-link:hover a{
  color: #428bca;
}
.note-container .note-footer .note-hidden-buttons {
  position: absolute;
  bottom: 5px;
  right:25px;
}

.note-container .note-footer .note-hidden-buttons p{
  margin-bottom: 0;
  font-size: 12px;
  color: grey;
}
.note-container .note-footer .note-hidden-buttons .note-delete {
  margin-right: 10px;
}
.note-container .note-footer .note-hidden-buttons .note-delete:hover {
  color: #550000;
}


/* ---------------note view ---------------*/

.cp-new-note-wrapper {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 280px;
  padding: 8px 16px;
}

.cp-new-note-title-wrapper {
  position: absolute;
  height: 80px;
  width: inherit;
  margin-top: 10px;
  padding: 10px 10px 0 0;
}

.cp-new-note-title {
  height: inherit;
  width: 100%;
  resize: none;
  overflow-y: scroll;
  font-size: 15px;
}

.cp-new-note-content-wrapper {
  position: absolute;
  top: 90px;
  bottom: 150px;
  width: 100%;
  padding: 10px 10px 0 0;
  margin-top: 10px;
  overflow-y: scroll;
}

.cp-new-note-content {
  height: inherit;
  width: 100%;
  border: none;
  resize: none;
  overflow-y: scroll;
  font-size: 15px;
}

.cp-new-note-tags-wrapper {
  position: absolute;
  bottom: 70px;
  height: 95px;
  width: inherit;
  padding: 10px 10px 0 0;
  margin-top: 10px;
  overflow-y: scroll;
}

.cp-new-note-tags {

}

/* override md defaults for chips */
.md-chips .md-chip {
  border-radius: 5px;
  height: 28px;
  line-height: 28px;
  margin: 5px 5px 0 0 ;
  background: #f0f2f5;
}
.cp-new-note-footer {
  position: absolute;
  bottom: 0;
  height: 52px;
  width: inherit;
  margin-top: 10px;
  padding: 10px 0 10px 0;
}

.cp-new-note-footer .cp-new-note-button {
  position: absolute;
  bottom: 20px;
}


/* ==================COMMON CSS =============== */

img {
  vertical-align: middle;
}

.no-border {
  border: none !important;
}

.padding-25 {
  padding: 25px;
}
.padding-20 {
  padding: 20px;
}
.margin-left-10 {
  margin-left: 10px;
}

/* ==================OVERRIDE MATERIAL DESIGN CSS =============== */
md-tooltip {
   height: 2.3em;
   font-size: 13px;
   vertical-align: middle;
}

.md-chips {
  font-size: 13px;
}

md-list-item {
  padding: 0 2px !important;
}

/* ==================OVERRIDE UI-BOOTSTRAP DESIGN CSS =============== */

.dropdown-menu {
  top: 25px;
  left: 50px;
  right:0;

}
