html, body {
  width: 660px;
  height: 448px;
  max-height: 448px;
  overflow: hidden;
}
.top-bar {
  height: 6px !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(96,125,139);
  z-index: 1030;
}
/*----------- left sidebar ----------------- */
.sidebar-left {
  width: 220px;
  height: 448px;
}
.sidebar-left .sidebar-title {
  position:absolute;
  top: 12px;
  left: 0;
  height: 80px;
  width: inherit;
  text-align: center;
  margin: auto;
}
.sidebar-left .sidebar-buttons {
  position:absolute;
  top: 80px;
  left: 0;
  width: inherit;
}
.sidebar-left .md-button {
  font-weight: normal;
}

/*----------- main content ----------------- */
.no-notes-block {
  color:rgba(0,0,0,0.6);
  padding: 40px;
}

.main-content {
  width: 440px;
  overflow: hidden;
}
.list-group {
  height: 400px;
}
md-content::-webkit-scrollbar {
  display: none;
}
.tabs-area {
  height: 400px;
  width: inherit;
}
.list-group md-list{
  padding-top: 12px;
}
/*.footer {*/
  /*height:48px;*/
  /*width: inherit;*/
/*}*/

/*----------- note element ----------------- */
.note-container {
  height:97px;
  width:564px;
  border-radius: 0 20px 20px 0;
  margin-bottom: 16px;
  transition:0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position:relative;
  padding: 5px 19px 0 19px;
  overflow: hidden;
}
.note-container:focus, .note-container:hover {
  background-color: #f7f7f7;
  text-decoration: none;
  cursor: pointer;
}

.note-container:focus, .note-container:hover  .note-title{
  color: #428bca;
}
.note-container .note-title p{
  font-size:18px;
  font-weight: bold;
  margin-bottom:3px;
  overflow: hidden;
  line-height: inherit;
}
.note-container .note-content {
  font-size: 13px;
  line-height: 1.42857143;
}
.note-container .note-content p{
  margin-bottom:3px;

}
.note-container .note-footer {
  margin-top:3px;
  overflow: hidden;
  vertical-align: middle;
  height: 20px;
}
.note-container .note-footer .note-link a{
  position:absolute;
  bottom: 5px;
  font-size: 12px;
  color: grey;
  float:left;
}
.note-container .note-footer .note-link:hover a{
  color: #428bca;
}
.note-container .note-footer .note-hidden-buttons {
  position: absolute;
  bottom: 5px;
  right:25px;
}

.note-container .note-footer .note-hidden-buttons p{
  margin-bottom: 0;
  font-size: 12px;
  color: grey;
}
.note-container .note-footer .note-hidden-buttons .note-delete {
  margin-right: 10px;
}
.note-container .note-footer .note-hidden-buttons .note-delete:hover {
  color: #550000;
}


/* ---------------note view ---------------*/

.note-dialog {
  max-height: 80%
}

/*
w440 / h448
*/

.note-wrapper {
  position: absolute;
  top: 6px;
  height: 442px;
  width: inherit;
}

.md-toolbar-tools .note-dialog-form-title {
  height:inherit;
  margin:0px;
  padding-left: 10px;
}
.note-dialog-title {
  color: rgb(255,255,255);
  font-size: inherit;
  margin: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  border: none;
}
.note-dialog-content-wrapper{
  position: absolute;
  top: 70px;
  height: 374px;
  width: inherit;
}
.note-dialog-content {
  height: 314px;
  width: inherit;
  border: none;
  padding: 26px;
  overflow-y: scroll;
}
.note-dialog-footer {
  position: absolute;
  bottom: 10px;
}
/*.note-dialog-footer .footer-buttons-wrapper {*/
  /*position: absolute;*/
  /*right:15px;*/
/*}*/


