html, body {
  width: 660px;
  height: 448px;
  max-height: 448px;
  overflow: hidden;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
.top-bar {
  height: 6px !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(96,125,139);
  z-index: 1030;
}

/*----------- hello page ----------------- */
.hello-bg {
  width: 660px;
  height: 448px;
  max-height: 448px;
  background-image: url(../images/intro-bg.jpg) ;
}
.hello-content {
  position:absolute;
  width: 660px;
  height: 448px;
  left:0;
  top:0;
}
.hello-content h1 {
  padding-left: 35px;
  color: whitesmoke;
  font-size: 44px;
}
.hello-form-wrapper {
  background-color:rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-left: 200px;
  width: 250px;
  height:320px;
  border-radius: 5px;
}
.hello-form {
  margin: auto;
  padding-top: 15px;
  height: 250px;
  width: 220px;
  color: whitesmoke;
}
.hello-footer {
  margin: auto;
  color: whitesmoke;
  padding: 15px 10px 10px 15px;
}
.hello-footer a {
  color: #66B2FF;
}


/*----------- left sidebar ----------------- */
.sidebar-left {
  width: 220px;
  height: 448px;
  background-image: url(../images/Doodle-800x547_01.jpg) ;
}
.sidebar-left .sidebar-title {
  position:absolute;
  top: 12px;
  left: 0;
  height: 80px;
  width: inherit;
  text-align: center;
  margin: auto;
  font-weight: 400;
}
.sidebar-left .sidebar-buttons {
  position:absolute;
  top: 80px;
  left: 0;
  width: inherit;
  font-weight: 500;
}
.sidebar-left .md-button {
  font-weight: normal;
}

/*----------- main content ----------------- */
.no-notes-block {
  color:rgba(0,0,0,0.6);
  padding: 40px;
}

.main-content {
  width: 440px;
  overflow: hidden;
}
.list-group {
  height: 400px;
}
md-content::-webkit-scrollbar {
  display: none;
}
.tabs-area {
  height: 400px;
  width: inherit;
}
.list-group md-list{
  padding-top: 12px;
}
/*.footer {*/
  /*height:48px;*/
  /*width: inherit;*/
/*}*/

/*----------- note element ----------------- */
.note-container {
  height:100px;
  width:564px;
  border-radius: 0 20px 20px 0;
  margin-bottom: 16px;
  transition:0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position:relative;
  padding: 5px 19px 0 19px;
  overflow: hidden;
}
.note-container:focus, .note-container:hover {
  background-color: #f7f7f7;
  text-decoration: none;
  cursor: pointer;
}

.note-container:focus, .note-container:hover  .note-title{
  color: #428bca;
}
.note-content-wrapper{
  height: 80px;
}
.note-container .note-title p{
  font-size:18px;
  font-weight: bold;
  margin-bottom:3px;
  overflow: hidden;
  line-height: inherit;
}
.note-container .note-content {
  font-size: 13px;
  line-height: 1.42857143;
}
.note-container .note-content p{
  margin-bottom:3px;

}
.note-container .note-footer {
  margin-top:3px;
  overflow: hidden;
  vertical-align: middle;
  height: 20px;
}
.note-container .note-footer .note-link a{
  position:absolute;
  bottom: 5px;
  font-size: 12px;
  color: grey;
  float:left;
}
.note-container .note-footer .note-link:hover a{
  color: #428bca;
}
.note-container .note-footer .note-hidden-buttons {
  position: absolute;
  bottom: 5px;
  right:25px;
}

.note-container .note-footer .note-hidden-buttons p{
  margin-bottom: 0;
  font-size: 12px;
  color: grey;
}
.note-container .note-footer .note-hidden-buttons .note-delete {
  margin-right: 10px;
}
.note-container .note-footer .note-hidden-buttons .note-delete:hover {
  color: #550000;
}


/* ---------------note view ---------------*/

.note-dialog {
  max-height: 80%
}

.note-wrapper {
  position: absolute;
  top: 6px;
  height: 442px;
  width: inherit;
}

.note-wrapper .md-toolbar {
  opacity: 0.9;
}

.md-toolbar-tools .note-dialog-form-title {
  height:inherit;
  margin:0;
  padding-left: 10px;
}
.note-dialog-title {
  /*color: rgb(255,255,255);*/
  font-size: inherit;
  margin: inherit;
  font-family: inherit;
  font-weight: 550;
  line-height: 1.1;
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  border-bottom: 1px #003366;
}
.note-dialog-content-wrapper{
  position: absolute;
  top: 64px;
  height: 280px;
  width: inherit;
}
.note-dialog-content {
  height: inherit;
  width: inherit;
  border: none;
  padding: 26px;
  overflow-y: scroll;
}
.note-dialog-tags-wrapper{
  position: absolute;
  bottom: 58px;
  height: 48px;
  width: 400px;
  margin-left: 20px;
}
.note-dialog-footer {
  width: inherit;
  height: 58px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 26px;

}
.note-dialog-footer .footer-buttons-wrapper {
  /*float: right;*/
  position: relative;
  padding: 0 15px;
  width: 400px;
}


