.top-bar {
	height:10px !important;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: rgb(96,125,139);
	z-index: 1030;
}
.content {
	margin-top: 10px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.note-container {
	height:97px;
	width:634px;
	border-radius: 0 20px 20px 0;
	margin-bottom: 16px;
	transition:0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
	position:relative;
	padding: 5px 19px 0 19px;
	overflow: hidden;
}
.note-container:focus, .note-container:hover {
	background-color: #f7f7f7;
	text-decoration: none;
	cursor: pointer;
}
.note-container:focus, .note-container:hover  .note-title{
	color: #428bca;
}
.note-container .note-title p{
	font-size:18px;
	font-weight: bold;
	margin-bottom:3px;
	overflow: hidden;
}
.note-container .note-content {
	font-size: 13px;
	line-height: 1.42857143;
}
.note-container .note-link a{
	position: absolute;
	bottom: 7px;
	font-size: 12px;
	color: grey;
}
.note-container .note-link:hover a{
	color: #428bca;
}
.md-toolbar{
	heght:50px;
}
