
@media screen and (min-width:1200px) {
  .content {
    width: 1100px;
    margin: 30px auto 30px;
  }
}
@media screen and (max-width:1199px) {
  .content {
    margin: 30px 10px 20px;
  }
}

body {
  /*font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;*/
  /*font-weight: 700;*/
  background-color: rgb(243,246,247);
  /*background-image: url(/img/bokeh-1192988_1280.jpg) ;*/
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty{
  border-color:#FA787E;
}
.ng-valid.ng-dirty{
  border-color:#78FA89;
}

.top-bar {
  height:10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(96,125,139);
  z-index: 1030;
}

.content {
}

/* ================ left sidenav ================= */

.sidenav md-content {
  /*background-image: url(/img/Doodle-800x547_02.jpg) ;*/
  /*background-color: rgb(96,125,139);*/
}

.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
}
.sidenav-content{
  position: relative;
  top: 0;
  left: 0;
}
.sidenav-header{
  position: absolute;
  top: 0;
  left: 0;
  height:50px;
  width:100%;
}
.logo-wrapper {

}
.logo {

}
.tags-area {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 10px;
  width: 100%;
  overflow: hidden;
}
.tags-area .show-all {
  background: #FAFCFC ;
  border: 1px solid;
  width: 90%;

}
.tags-area .md-button {
  line-height: 25px;
  min-height: 20px;
  opacity: 0.8;
  border-radius: 1px;
  padding: 1px 1px 1px 7px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 13px;
}
.tags-area .md-button:focus, .tags-area .md-button:hover {
  line-height: 25px;
  min-height: 20px;
  opacity: 1;
  border-radius: 1px;
  padding: 1px 1px 1px 7px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 13px;
}
.tags-area .tags-list {
  display: inline;
}

/* =============== main content ================ */

.main-content {
  position: relative;
  top: 0;
  left: 0;
  width: 600px;
  max-width: 600px;
  padding: 0 0;
  background-color: inherit;
}
.main-content::-webkit-scrollbar {
  display: none;
}

.main-content-header{
  position: fixed;
  margin-left: 0;
  margin-top: 0;
  height: 50px;
  width: inherit;
  z-index: 1030;
}
.search-box-wrapper{
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
  height: 100%;
  width: 90%;
}
.search-box {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 16px;
  background-color: #FFF;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  color: #585858;
  font-size:16px;
  outline: none;
  border: none !important;
  box-shadow: none !important;
}
/*.fadeout {*/
  /*position: fixed;*/
  /*margin-top: 50px;*/
  /*margin-left: 0;*/
  /*margin-right: 10px;*/
  /*padding: 0 12px;*/
  /*height: 12px;*/
  /*width: inherit;*/
  /*z-index: 2030;*/
  /*overflow: hidden;*/
  /*background: -webkit-linear-gradient(*/
      /*rgba(243,246,247, 2) 20%,*/
      /*rgba(243,246,247, 0) 100%*/
  /*);*/
/*}*/

.notes-list {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 10px 0;
  width: inherit;
  overflow: hidden;
}
.note-container {
  background-color: #FFF;
  border-radius: 0 25px 25px 0;
  height:105px;
  width:90%;
  margin-bottom: 8px;
  transition:0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position:relative;
  padding: 5px 19px 0 19px;
  overflow: hidden;
}
.note-container:focus, .note-container:hover {
  background-color: #f7f7f7;
  text-decoration: none;
  cursor: pointer;
  width:100%;
  transition: 0.3s;
}
.note-container .note-body {
  height: 80px;
  max-width: 90%;
  outline: none;
  border: none !important;
  box-shadow: none !important;
  overflow: hidden;
}
.note-container:focus, .note-container:hover .note-title p{
  color: #428bca;
}
.note-container .note-title p{
  font-size:18px;
  /*font-weight: bold;*/
  text-transform: capitalize;
  margin-bottom:3px;
  overflow: hidden;
  line-height: inherit;
  color: #585858;
}
.note-container .note-content {
  font-size: 13px;
  line-height: 1.42857143;
}
.note-container .note-content p{
  margin-bottom:3px;
  overflow: hidden;
}
.note-container .note-footer {
  margin-top:3px;
  overflow: hidden;
  vertical-align: middle;
  height: 20px;
}
.note-container .note-footer .note-link a{
  position:absolute;
  bottom: 5px;
  font-size: 12px;
  color: grey;
  float:left;
}
.note-container .note-footer .note-link:hover a{
  color: #428bca;
}
.note-container .note-footer .note-tag-colors-wrapper{
  position:absolute;
  width: 100px;
  bottom: 5px;
  left:200px;
  background: #000;
}
.note-container .note-footer .note-hidden-buttons {
  position: absolute;
  bottom: 5px;
  right:25px;
}

.note-container .note-footer .note-hidden-buttons p{
  margin-bottom: 0;
  font-size: 12px;
  color: grey;
}
.note-container .note-footer .note-hidden-buttons .note-delete {
  margin-right: 10px;
}
.note-container .note-footer .note-hidden-buttons .note-delete:hover {
  color: #550000;
}

/* ================ right sidenav ================= */

.ad-box{
  height: 190px;
  margin-bottom: 10px;
}
/* --------------- note diaalog ---------------*/
.note-dialog {
  max-height: 80%
}
.md-toolbar-tools .note-dialog-form-title {
  height:inherit;
  margin:0;
  padding-left: 10px;
}
.note-dialog-title {
  color: rgb(255,255,255);
  font-size: inherit;
  margin: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  border: none;
}
.note-dialog-title-wrapper {

}
.note-dialog-content-wrapper {
  clear: both;
}
.note-dialog-content {
  border: none;
}
.note-dialog-tags-wrapper {
  position: absolute;
  bottom: 58px;
  height: 48px;
  width: 100%;
}
