.top-bar {
	height:10px !important;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: rgb(96,125,139);
	z-index: 1030;
}
.content {
	margin-top: 10px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

/*----------- tags area ----------------- */
.tags-area {
	padding-top: 30px;
	height: inherit;
	width: inherit;
	overflow: hidden;
}
.tags-area .md-button {
  line-height: 25px;
  min-height: 25px;
  opacity: 0.7;
}

/*----------- main content ----------------- */

.note-container {
	height:97px;
	width:564px;
	border-radius: 0 20px 20px 0;
	margin-bottom: 16px;
	transition:0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
	position:relative;
	padding: 5px 19px 0 19px;
	overflow: hidden;
}
.note-container:focus, .note-container:hover {
	background-color: #f7f7f7;
	text-decoration: none;
	cursor: pointer;
}

.note-container:focus, .note-container:hover  .note-title{
	color: #428bca;
}
.note-container .note-title p{
	font-size:18px;
	font-weight: bold;
	margin-bottom:3px;
	overflow: hidden;
	line-height: inherit;
}
.note-container .note-content {
	font-size: 13px;
	line-height: 1.42857143;
}
.note-container .note-content p{
	margin-bottom:3px;

}
.note-container .note-footer {
	margin-top:3px;
	overflow: hidden;
	vertical-align: middle;
	height: 20px;
}
.note-container .note-footer .note-link a{
	position:absolute;
	bottom: 5px;
	font-size: 12px;
	color: grey;
	float:left;
}
.note-container .note-footer .note-link:hover a{
	color: #428bca;
}
.note-container .note-footer .note-hidden-buttons {
	position: absolute;
	bottom: 5px;
	right:25px;
}

.note-container .note-footer .note-hidden-buttons p{
	margin-bottom: 0;
	font-size: 12px;
	color: grey;
}
.note-container .note-footer .note-hidden-buttons .note-delete {
	margin-right: 10px;
}
.note-container .note-footer .note-hidden-buttons .note-delete:hover {
	color: #550000;
}

/* ---------------note diaalog ---------------*/
.note-dialog {
	max-height: 80%
}
.md-toolbar-tools .note-dialog-form-title {
	height:inherit;
	margin:0px;
	padding-left: 10px;
}
.note-dialog-title {
	color: rgb(255,255,255);
	font-size: inherit;
	margin: inherit;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	border: none;
}
.note-dialog-content {
	border: none;
}
.note-dialog-footer {
	bottom: 0;
}
