
<div class="cp-header-display">

  <div class="close-button" ng-click="mainCtrl.closePane()">
    <img src="../../../icons/arrow-25-16.png" >
  </div>


  <div uib-dropdown is-open="homeCtrl.dropDownStatus.isopen">
    <div class="cp-greeting" type="button" uib-dropdown-toggle ng-disabled="disabled">
      Hi, {{homeCtrl.authentication.user.username}} <span class="caret"></span>
    </div>
    <ul class="dropdown-menu right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem" ng-click="homeCtrl.fuck()" ><a href="#">Action</a></li>
      <li role="menuitem"><a href="#">Another action</a></li>
      <li role="menuitem"><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li role="menuitem"><a href="#">Separated link</a></li>
    </ul>
  </div>



</div>





