<div class="note-wrapper" flex>
  <md-toolbar flex>
    <div class="md-toolbar-tools">
      <form class="note-dialog-form-title" name="noteTitleForm" flex>
        <!-- title for a new note -->
        <md-input-container ng-if="homeCtrl.editMode == false" md-no-float>
          <input class="note-dialog-title" ng-model="homeCtrl.newNote.title" style="color:white" placeholder="Note title goes here">
        </md-input-container>
        <!-- update title of existing note -->
        <md-input-container ng-if="homeCtrl.editMode == true" md-no-float>
          <input class="note-dialog-title" ng-model="homeCtrl.editedNote.title" style="color:white">
        </md-input-container>
      </form>
    </div>
  </md-toolbar>

  <div class="note-dialog-content-wrapper" flex>
    <form class="note-dialog-content" name="noteContentForm">
      <!-- content for a new note -->
      <md-input-container ng-if="homeCtrl.editMode == false" md-no-float>
        <textarea class="note-dialog-content" ng-model="homeCtrl.newNote.content" placeholder="Your note goes here"></textarea>
      </md-input-container>
      <!-- update content for a existing note -->
      <md-input-container ng-if="homeCtrl.editMode == true" md-no-float>
        <textarea class="note-dialog-content" ng-model="homeCtrl.editedNote.content"></textarea>
      </md-input-container>
    </form>
  </div>

  <!--<md-autocomplete flex required-->
                   <!--md-input-name="autocompleteField"-->
                   <!--md-input-minlength="2"-->
                   <!--md-input-maxlength="18"-->
                   <!--md-no-cache="ctrl.noCache"-->
                   <!--md-selected-item="ctrl.selectedItem"-->
                   <!--md-search-text="ctrl.searchText"-->
                   <!--md-items="item in ctrl.querySearch(ctrl.searchText)"-->
                   <!--md-item-text="item.display"-->
                   <!--md-floating-label="Favorite state">-->
    <!--<md-item-template>-->
      <!--<span md-highlight-text="ctrl.searchText">{{item.display}}</span>-->
    <!--</md-item-template>-->
    <!--<div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">-->
      <!--<div ng-message="required">You <b>must</b> have a favorite state.</div>-->
      <!--<div ng-message="minlength">Your entry is not long enough.</div>-->
      <!--<div ng-message="maxlength">Your entry is too long.</div>-->
    <!--</div>-->
  <!--</md-autocomplete>-->

  <div ng-if="homeCtrl.editMode == false" class="note-dialog-tags-wrapper">
    <md-chips
            ng-model="homeCtrl.newNote.tags"
            md-on-append="homeCtrl.newTagAppend($chip)"
            readonly="homeCtrl.readonly"
            placeholder="Enter a tag"
            delete-button-label="Remove Tag"
            delete-hint="Press delete to remove tag"
            secondary-placeholder="+Tag">
      <md-chip-template>
        <p>{{$chip.text}}</p>
      </md-chip-template>
    </md-chips>
    <br/>
  </div>

  <div ng-if="homeCtrl.editMode == true" class="note-dialog-tags-wrapper">
    <md-chips
            ng-model="homeCtrl.editedNote.tags"
            md-on-append="homeCtrl.newTagAppend($chip)"
            readonly="homeCtrl.readonly"
            placeholder="Enter a tag"
            delete-button-label="Remove Tag"
            delete-hint="Press delete to remove tag"
            secondary-placeholder="+Tag">
      <md-chip-template>
        <p>{{$chip.text}}</p>
      </md-chip-template>
    </md-chips>
    <br/>
  </div>

  <div class="note-dialog-footer md-actions">
    <div class="footer-buttons-wrapper">
      <md-button ng-click="homeCtrl.closeNote()" class="md-primary">
        Back
      </md-button>
      <md-button ng-if="homeCtrl.editMode == false" ng-disabled="noteContentForm.$pristine && noteTitleForm.$pristine" ng-click="homeCtrl.create()" class="md-primary">
        Save
      </md-button>
      <md-button ng-if="homeCtrl.editMode == true" ng-click="homeCtrl.update()" class="md-primary">
        Update
      </md-button>
    </div>
  </div>
</div>

