<div class="content" flex>
  <div class="top-bar"></div>
  <div layout="row">

    <div class="sidebar-left" flex="33" layout="column">
      <div class="md-toolbar-tools">
        <h2>Hi {{homeCtrl.authentication.user.username}}!</h2>
      </div>
      <md-button>ADD NEW NOTE</md-button>
      <md-button ng-click="homeCtrl.goHome()">GO TO HOMEPAGE</md-button>
      <md-button>SETTINGS</md-button>
    </div>

    <div class="main-content" flex="66">
      <div class="md-padding">

        <md-tabs md-dynamic-height md-border-bottom>

          <md-tab label="Page">
            <div>

              <div ng-if="homeCtrl.urlNotes.length == 0">
                <div>
                  <h1 class="text-center">No notes yet for this page</h1>
                  <br>
                  <md-button class="btn btn-block md-primary margin-auto" ng-click="homeCtrl.newNote()">drop one</md-button>
                </div>
              </div>

              <div ng-if="homeCtrl.domainNotes.length !== 0">
                <md-list>
                  <md-list-item ng-repeat="note in homeCtrl.urlNotes |
						                    orderBy:homeCtrl.sortOrder">
                    <section class="note-container	md-padding md-whiteframe-z1 md-default-theme" layout="column"
                             ng-mouseenter="homeCtrl.noteHover(note)" ng-mouseleave="homeCtrl.noteHover(note)">
                      <div class="note-title" ng-click="homeCtrl.showNote($event, note)">
                        <p>{{note.title |truncate:6}}</p>
                      </div>
                      <div class="note-content">
                        <p>{{note.content | truncate:20}}</p>
                      </div>
                      <div class="note-footer">
                        <div class="note-link">
                          <a target="_blank" href={{note.url}}>{{note.domain}}</a>
                        </div>
                        <div class="note-hidden-buttons" layout="row" ng-show="note.showHidden">
                          <p class="note-delete" ng-click="homeCtrl.showDeleteDialog($event, note)">delete</p>
                          <p class="note-date">{{note.modified | date}}</p>
                        </div>
                      </div>
                    </section>
                  </md-list-item>
                </md-list>
              </div>
            </div>

          </md-tab>

          <md-tab label="Site">
            <md-content class="md-padding">

              <div ng-if="homeCtrl.domainNotes.length == 0">
                <div>
                  <h1 class="text-center">No notes yet for this Site</h1>
                  <br>
                  <md-button class="btn btn-block md-primary margin-auto" ng-click="homeCtrl.newNote()">drop one</md-button>
                </div>
              </div>

              <div ng-if="homeCtrl.domainNotes.length !== 0">
                <md-list>
                  <md-list-item ng-repeat="note in homeCtrl.domainNotes |
						                    orderBy:homeCtrl.sortOrder">
                    <section class="note-container	md-padding md-whiteframe-z1 md-default-theme" layout="column"
                             ng-mouseenter="homeCtrl.noteHover(note)" ng-mouseleave="homeCtrl.noteHover(note)">
                      <div class="note-title" ng-click="homeCtrl.showNote($event, note)">
                        <p>{{note.title |truncate:6}}</p>
                      </div>
                      <div class="note-content">
                        <p>{{note.content | truncate:20}}</p>
                      </div>
                      <div class="note-footer">
                        <div class="note-link">
                          <a target="_blank" href={{note.url}}>{{note.domain}}</a>
                        </div>
                        <div class="note-hidden-buttons" layout="row" ng-show="note.showHidden">
                          <p class="note-delete" ng-click="homeCtrl.showDeleteDialog($event, note)">delete</p>
                          <p class="note-date">{{note.modified | date}}</p>
                        </div>
                      </div>
                    </section>
                  </md-list-item>
                </md-list>
              </div>
            </md-content>

          </md-tab>

        </md-tabs>
      </md-content>
    </div>
  </div>
</div>
